In [31]:
import pandas as pd
import json

In [32]:
ws2015 = pd.read_json('scraped_races/WSER2015.csv')
jj2011 = pd.read_json('scraped_races/JJ2011.csv')

In [33]:
jj2011.head()

,age,age_rank,agegroup,bib,city,drilldown,firstname,formattime,gender,gender_place,lastname,participant_id,photo_count,place,prior_count,race_count,runner_rank,state,status,time
0,35,0,30-39,,Ashland,0,Hal,13:47:43,M,1,Koerner,107462,0,1,0,0,93.77,OR,1,49663000
1,32,0,30-39,,Idaho Falls,0,Evan,14:00:59,M,2,Honeyfield,29105,0,2,0,0,97.45,ID,1,50459000
2,50,0,50-59,,Brighton,0,Jay,15:20:56,M,3,Aldous,22559,0,3,0,0,89.40,UT,1,55256000
3,39,0,30-39,,San Antonio,0,Elizabeth,15:46:59,F,1,Howard,9542,0,4,0,0,95.62,TX,1,56819000
4,47,0,40-49,,Irvine,0,Mark,16:34:14,M,4,Matyazic,7181,0,5,0,0,82.16,CA,1,59654000

In [34]:
jj2011_c = jj2011.drop(['photo_count', 'firstname', 'lastname', 'drilldown', 'time', 'formattime', 
                        'race_count', 'bib'
                       , 'age_rank', 'prior_count', 'city', 'state', 'agegroup', 'place', 
                        'gender_place'], axis=1)

In [35]:
jj2011_c

     age gender  participant_id  runner_rank  status
0     35      M          107462        93.77       1
1     32      M           29105        97.45       1
2     50      M           22559        89.40       1
3     39      F            9542        95.62       1
4     47      M            7181        82.16       1
5     42      M            7608        89.58       1
6     31      M            8736        81.68       1
7     33      M            1348        89.01       1
8     35      M          202487        78.93       1
9     47      M           11113        71.23       1
10    24      M          217497        89.77       1
11    43      M            1570        69.24       1
12    53      M            2996        76.53       1
13    28      M           11768        74.83       1
14    50      F            4337        81.61       1
15    51      M          152060        73.30       1
16    33      M          275462        85.13       1
17    51      F            1450        81.86       1
18    50      M          175678        63.97       1
19    46      M           15588        80.38       1
20    49      M          124313        78.79       1
21    35      M          243310        80.79       1
22    37      M            9425        86.89       1
23    42      M            6070        79.03       1
24    43      M            7990        78.65       1
25    44      F            3000        80.63       1
26    51      M           33515        69.96       1
27    36      M          134465        74.79       1
28    40      M          109695        64.86       1
29    40      M           38845        65.68       1
..   ...    ...             ...          ...     ...
365   29      M          212674        59.32       2
366   43      M          218622        59.43       2
367   31      M          219421        71.66       2
368   30      F          219575        89.53       2
369   21      F          219771        78.12       2
370   20      M          220562        74.32       2
371   50      F          222239        74.95       2
372   35      M          222241        50.76       2
373   44      M          935566        83.46       2
374   41      F          953196        56.89       2
375   34      M          837636         0.00       2
376   36      F          839666         0.00       2
377   29      M          839667         0.00       2
378   30      F          839668         0.00       2
379   52      F          839669         0.00       2
380   33      M          839670        60.32       2
381   51      M          851491         0.00       2
382   63      F          923202        66.81       2
383   49      F          923798        80.39       2
384   40      M          200894        52.16       3
385   48      F          775499        47.53       3
386   50      M           46448        55.17       3
387   53      F            1332        79.09       3
388   45      F             686        75.07       3
389   30      M           18494        65.71       3
390   51      M           17004        68.02       3
391   46      F           17224        77.49       3
392   34      F           10872        76.45       3
393   59      M            9444        66.17       3
394   46      F            5822        70.22       3

[395 rows x 5 columns]